{% extends "AppBlog/padre.html" %}

{% load static %}

{% block titulo %} TODOS LOS TRIPS {% endblock %}

{% block contenido_que_cambia %}

<ul>
    {% for trip in object_list %}
    <li>
        {{ trip }}
    
        <a class="text-primary" href="{% url 'trip_detalle' trip.id %}"> Ver mas</a>
        <a class="text-primary" href="{% url 'trip_editar' trip.id %}"> Editar trip</a>
        <a class="text-primary" href="{% url 'trip_borrar' trip.id %}"> Eliminar trip</a>

    </li>
    

    {% endfor %}

 <br>
 <br>
 <a class="btn btn-primary" href="{% url 'trip_crear' %}"> Contanos tu trip:</a>
</ul>


{% endblock %}